.filter-button {
    color: white;
  }
  
  .filter-dropdown {
    position: absolute;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    top: 100%;
    right: 20px;
    width: 200px;
    display: none;
  
    .filter-checkbox {
      margin-bottom: 10px;
    }
  
    .apply-button {
      display: block;
      margin-top: 10px;
    }
  }
  