<body>
    <div class="container">
        <div class="login-content">

            <img class="logo" src="/assets/logo_blue.png" alt="logo_blue">
            <div class="login">Log in</div>
            <div class="signup">
                Don't have an account? <a href="register">Sign up</a>
            </div>            
            <form>
                <div class="dense-1">
                <mat-form-field appearance="outline" class="custom-field">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput class="email" placeholder="Ex. john.doe@example.com">
                </mat-form-field>
                
                <mat-form-field appearance="outline" class="custom-field">
                    <mat-label>Password</mat-label>
                  <input matInput class="password" placeholder="Password" type="password">
                </mat-form-field>
            </div>
                <button mat-raised-button color="primary">Log in</button>
            </form>
        </div>
        <div class="background-image"></div>
      </div>
</body>
