<div class="container">
    <mat-toolbar class="transparent-header">
        <img class="logo" src="/assets/logo_blue.png" alt="logo_white">
        <span class="spacer"></span>
        <span class="user-name">Hi, John</span>
        <mat-icon class="user-logo">account_circle</mat-icon>
    </mat-toolbar>
    <div class="page-indicator">Details Page</div>
    <div class="page-content">
        <div class="left">
          <div class="l1">
            <img [src]="country?.flag" alt="Flag">
          </div>
          <div class="l2">
            <!--<app-image-gallery [images]="country?.images"></app-image-gallery> -->
          </div>
        </div>
        <div class="right">
          <div class="r1">
            <app-country-info [country]="country"></app-country-info>
          </div>
          <div class="r2">
            <app-border-countries [borderCountries]="borderCountriesData"></app-border-countries>
          </div>
        </div>
      </div>
    </div>