<div class="main-page">
  <div class="background-image"></div>
  <mat-toolbar class="transparent-header">
    <img class="logo" src="/assets/logo_white.png" alt="logo_white">
    <span class="spacer"></span>
    <span class="user-name">Hi, John</span>
    <mat-icon class="user-logo">account_circle</mat-icon>
  </mat-toolbar>

  <div class="search-bar-wrapper">
    <div class="search">
      <app-search (searchCountry)="onSearch($event)"></app-search>
    </div>
    <div class="filter">
      <app-filter-by-region></app-filter-by-region>
    </div>
  </div>

  <app-country-list [countries]="filteredCountries"></app-country-list>
</div>