<div class="main-page">
    <div class="background-image"></div>
    <mat-toolbar class="transparent-header">
        <img class="logo" src="/assets/logo_white.png" alt="logo_white">
          <span class="spacer"></span>
          <span class="user-name">John Doe</span>
          <mat-icon class="user-logo">account_circle</mat-icon>
    </mat-toolbar>
    
    <div class="search-filter">
      <app-search></app-search>
      <app-filter-by-region></app-filter-by-region>
    </div>
    <app-country-list></app-country-list>
  </div>
  