.main-page {
  @media (max-width: 720px) {
    .filter{
      visibility: hidden;
    };
}
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    background-color: whitesmoke;
  
    .background-image {
      height: 33.3%; 
      background: url('/assets/countrieslist.jpg');
      background-size: cover;
      background-position: center;
    }
  
    .transparent-header {
      background-color: transparent;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
      padding-left:35px; 
      padding-right: 35px;

      .logo{
        width: 100px;
      }
        
      .spacer {
        flex: 1 1 auto;
      }
      .user-name{
        color: white;
        margin-right: 15px;
      }
      .user-logo{
        color:white
      }
    
    }

  .search-bar-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 29.5%;

    .search{
      padding-right: 9%;
    }
    .filter{
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: right;
      align-items: right;
      position: absolute;
      top: 1px;
      margin-right: 5%;
    }
  }
}
  