.main-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  
    .background-image {
      height: 33.3%; 
      background: url('/assets/countrieslist.jpg');
      background-size: cover;
      background-position: center;
    }
  
    .transparent-header {
      background-color: transparent;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
      padding-left:35px; 
      padding-right: 35px;

      .logo{
        width: 90px;
      }
        
      .spacer {
        flex: 1 1 auto;
      }
      .user-name{
        color: white;
        margin-right: 15px;
      }
      .user-logo{
        color:white
      }
    
    }
  
    .search-filter {
      /* Styles for the search bar section ... */
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      position: relative; /* Required for absolute positioning of search bar */
    }
  
    .search-bar-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: row;
      position: absolute;
      margin-bottom: 15px;
      .search{
        align-items: center;
      }
      .filter{
        align-items: flex-end;
      }
    }
  
    .white-space {
      background: white;
      padding: 20px;
    }
  }
  